<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 *ngIf="model.id" class="page-header">
                Update Content
            </h1>
            <h1 *ngIf="!model.id" class="page-header">
                Add Content
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/content" > Content</a>
                </li>
                <li *ngIf="model.id" class="active">
                    <i class="fa fa-tag"></i> Update Content
                </li>
                <li *ngIf="!model.id" class="active">
                    <i class="fa fa-tag"></i> Add Content
                </li>
            </ol>
        </div>
    <a [routerLink]="['/dashboard/content']" class="pull-right btn btn-primary">Back</a>
    </div>

    <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
    <div *ngIf="succ"  class="alert alert-success">{{message}}</div>
    
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <label for="title">Title</label>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <input type="taxt" class="form-control" name="title" [(ngModel)]="model.title" 
                 #title="ngModel" placeholder="Title" required>
                 <div *ngIf="f.submitted && !title.valid" class="help-block">Title is required</div>
            </div>

             <label for="content">Content</label>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !content.valid }">
                <textarea class="form-control" name="content" [(ngModel)]="model.content" 
                 #content="ngModel" placeholder="Content" required></textarea> 
                 <div *ngIf="f.submitted && !content.valid" class="help-block">Content is required</div>
            </div>
            
            <div>
            <label for="status">Status :</label>
            <select [(ngModel)]="model.status" name="status" required>
                    <option value="">--Select--</option>
                    <option value="enable" [selected]="'enable' === model.status">Enable</option>
                    <option value="disable" [selected]="'disable' === model.status">Disable</option>
            </select>
            <span *ngIf="f.submitted && !model.status"  class="help-block">Status is required</span>
            </div>
            <br/>
            
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <a [routerLink]="['/dashboard/content']" class="btn btn-default">Cancel</a>
            </div>
    </form>
</div>
