<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Products
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                 <li>
                    <i class="fa fa-user"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/provider" > Providers</a>
                </li>
                <li class="active">
                    <i class="fa fa-product-hunt"></i> Products
                </li>
            </ol>
        </div>
    </div>
    <div><a [routerLink]="['/dashboard/provider']" class="pull-right btn btn-primary">Back</a></div>
    <h3>Products of {{model.name}}</h3>
    <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
         <div class="table-responsive">
             <table class="table table-hover table-striped">
                 <thead>
                     <tr>
                         <th>Product Name</th>
                         <th>Product Type</th>
                         <th>Description</th>
                         <th>Product Category</th>
                         <th>price</th>
                     </tr>
                 </thead>
                 <tbody *ngFor="let product of products">
                    <tr>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productType }}</td>
                        <td><li *ngFor="let prodCat of product.productCategory">{{prodCat}}</li></td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                </tbody> 
             </table>
         </div>
     </div>