<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Reset Password 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/provider" > Providers</a>
                </li>
                <li class="active">
                    <i class="fa fa-key"></i> Reset Password
                </li>
            </ol>
        </div>
    </div>

    <form role="form">
         
          <div class="form-group">
              <input type="email" class="form-control" id="email" 
               [(ngModel)]="model.email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="newPassword"
               [(ngModel)]="model.newPassword" name="newPassword" placeholder="Password">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="confirmPassword"
               [(ngModel)]="model.confirmPassword" name="confirmPassword" placeholder="Confirm Password">
          </div>
          <button (click) = "reset()">Save</button>
    </form>
</div>