<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Reset Password 
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/provider" > Providers</a>
                </li>
                <li class="active">
                    <i class="fa fa-key"></i> Reset Password
                </li>
            </ol>
        </div>
    <div><a [routerLink]="['/dashboard/provider']" class="pull-right btn btn-primary">Back</a></div>
    </div>
     <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <label for="newPassword">Password</label>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                <input type="taxt" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" 
                 #newPassword="ngModel" placeholder="New Password" required>
                 <div *ngIf="f.submitted && !newPassword.valid" class="help-block" style="color:red;">New Password is required</div>
            </div>
            <label for="confirmPassword">Confirm Password</label>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                <input type="taxt" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword"
                 #confirmPassword="ngModel" placeholder="Confirm Password" required>
                 <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block" style="color:red;">Confirm Password is required</div>
            </div>
           
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <a [routerLink]="['/dashboard/coupon']" class="btn btn-default">Cancel</a>
            </div>
    </form>
</div>