<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Details
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/provider" > Providers</a>
                </li>
                <li class="active">
                    <i class="fa fa-university "></i> Details
                </li>
            </ol>
        </div>
    <a [routerLink]="['/dashboard/provider']" class="pull-right btn btn-primary">Back</a>
    </div>

    <div class="table-responsive">
             <table style="border: 0px" class="table table-hover table-striped">
                 <tbody>
                    <tr>
                        <td>Name :</td>
                        <td>{{ provider.provider_name }}</td>
                    </tr> 
                    <tr>
                        <td>Contact Name :</td>
                        <td>{{ provider.contactName }}</td>
                    </tr>
                    <tr>
                        <td>Email :</td>
                        <td>{{ provider.mainEmail }}</td>
                    </tr>
                    <tr>
                        <td>Secondary Email :</td>
                        <td>{{ provider.secondaryEmail }}</td>
                    </tr>
                    <tr *ngIf="flag">
                        <td>Types Of Product Detail :</td>
                        <td>{{ providerInfo.typesOfProductDetail }}</td>
                    </tr>
                    <tr *ngIf="flag">
                        <td>Place Info :</td>
                        <td>{{ providerInfo.placeInfo }}</td>
                    </tr>
                    <tr>                        
                        <td>Address :</td>
                        <td>{{ address.address1}}</td>
                    </tr>
                    <tr>                        
                        <td>Location :</td>
                        <td>{{ address.city }},{{address.country}}</td>
                    </tr>
                    <br>
                    <div *ngIf="model.bankName">
                    <h3>Bank Details</h3>
                    <tr>
                        <td>Beneficiary Name :</td>
                        <td>{{ model.beneficiaryName }}</td>
                    </tr>
                    <tr>
                        <td>Account Number :</td>
                        <td>{{ model.accountNumber }}</td>
                    </tr> 
                    <tr>
                        <td>Beneficiary Address :</td>
                        <td>{{ model.beneficiaryAddress }}</td>
                    </tr>
                    <tr>
                        <td>Bank Name :</td>
                        <td>{{ model.bankName }}</td>
                    </tr>
                    <tr>                        
                        <td>Branch Number :</td>
                        <td>{{ model.branchNumber }}</td>
                    </tr>
                    </div>
                </tbody> 
             </table>
    </div>
</div>
