<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Add ProductQuestion
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/ProductQuestion" > ProductQuestion</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus"></i>Add ProductQuestion 
                </li>
            </ol>
        </div>
    </div>

    <form role="form">
         
          <div class="form-group">
              <input type="text" class="form-control" id="title" 
               [(ngModel)]="model.title" name="title" placeholder="Title">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="ProductQuestion"
               [(ngModel)]="model.ProductQuestion" name="ProductQuestion" placeholder="ProductQuestion">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="status"
               [(ngModel)]="model.status" name="status" placeholder="Status">
          </div>
          <button (click) = "reset()">Save</button>
    </form>
</div>

 