<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Content Management
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-pencil"></i> Content Management
                </li>
            </ol>
        </div>
    </div>

     <div class="card card-block" style="width: 450px; margin: auto;">
        <form (submit)="search(term.value)">
            <div class="search-group input-group">
                <input #term (keyup)="search(term.value)" [value]="terms" class="form-control" placeholder="Search" autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </span>
            </div>
        </form>
    </div>

    <div>
      <button (click) = "add()" class="pull-right btn btn-primary">Add</button>
    </div>

      <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
      <div *ngIf="succ"  class="alert alert-success">{{message}}</div>

      <div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="content"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"
        >
        <data-table-column
            [property]="'title'"
            [header]="'Title'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            property="status"
            header="Status">
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
          header="Actions">
          <template #dataTableHeader let-item="item">
            <i>Actions</i>
          </template>
          <template #dataTableCell let-item="item">
            <button (click)="update(content.id, content.title, content.content, content.status)" class="btn btn-sm btn-primary">Edit</button>
          </template>
        </data-table-column>
    </data-table>
  </div>
</div>