<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Coupon Package
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-tag"></i> Coupon Package
                </li>
            </ol>
        </div>
    </div>

    <div class="card card-block" style="width: 450px; margin: auto;">
        <form (submit)="search(term.value)">
            <div class="search-group input-group">
                <input #term (keyup)="search(term.value)" [value]="terms" class="form-control" placeholder="Search" autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </span>
            </div>
        </form>
    </div>
    
    <button (click) = "add()" class="pull-right btn btn-primary">Add</button>

    <div *ngIf="mess"  class="alert alert-danger">{{message}}</div>
    <div *ngIf="succ"  class="alert alert-success">{{message}}</div>
    
    <div class="table-responsive">
             <table class="table table-hover table-striped">
                 <thead>
                     <tr>
                         <th>Coupon Number</th>
                         <th>Price</th>
                         <th>Availability</th>
                         <th>Start Time</th>
                         <th>End Time</th>
                         <th>Actions</th>
                  </tr>
                 </thead>
                 <tbody *ngFor="let coupon of pagedItems">
                    <tr>
                        <td>{{ coupon.couponNumber }}</td>
                        <td>{{ coupon.price }}</td>
                        <td>{{ coupon.availability }}</td>
                        <td>{{ coupon.startTime | amDateFormat:'LL' }}</td>
                        <td>{{ coupon.endTime | amDateFormat:'LL' }}</td>
                         <td><button (click) = "view(coupon.id, coupon.couponCode, coupon.couponNumber,coupon.price, coupon.providerId, coupon.used, coupon.availability, coupon.startTime, coupon.endTime)" class="btn btn-primary">View</button></td>
                         <td><button (click) = "update(coupon.id,coupon.couponNumber,coupon.price,coupon.providerId,coupon.used,coupon.availability,coupon.startTime,coupon.endTime)" class="btn btn-default">Edit</button></td>
                        <td><button (click) = "delete(coupon.id)" class="btn btn-default">Delete</button></td>
                    </tr>
                </tbody> 
             </table>
         </div>

         <div style="text-align: center;">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === 1}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" style = "display: inline;">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage - 1)">&laquo;</a>
          </li>
          <li style = "display: inline;" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(page)">{{page}}</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.currentPage + 1)">&raquo;</a>
          </li>
          <li style = "display: inline;" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a style = "float: left;padding: 8px 16px;" (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
    </div>
     </div>
